<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android"
        id="cordova-plugin-inappgallery" version="0.0.1">
    <name>In App Gallery</name>

    <description>tbd.</description>
    <license>Apache-2.0</license>

    <keywords>cordova,tbd</keywords>
    <repo>https://github.com/ibrahimAboelsuod/cordova-plugin-inappgallery.git</repo>
    <issue>https://github.com/ibrahimAboelsuod/cordova-plugin-inappgallery/issues</issue>
  
    <engines>
        <engine name="cordova" version=">=3.0.0"/>
    </engines>
  
    <js-module src="www/in-app-gallery.plugin.js" name="InAppGalleryPlugin">
        <clobbers target="inAppGalleryPlugin" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="InAppGalleryPlugin">
                <param name="android-package" value="com.cordova.plugin.inappgalleryplugin.InAppGalleryPlugin"/>
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        </config-file>
        <source-file src="src/android/InAppGalleryPlugin.java" target-dir="src/com/cordova/plugin/inappgalleryplugin" />
        <source-file src="src/android/MediaOptions.java" target-dir="src/com/cordova/plugin/inappgalleryplugin" />
    </platform>
</plugin>